.wb-notification-block {
  margin: 10px;
  width: 330px;
  padding: 20px;
  overflow: hidden;
  border-radius: 2px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0 6px rgba(0,0,0,.04);
}
.wb-notification-block .wb-icon {
  margin-left: 15px;
  font-size: 3em;
  font-weight: 100;
}
.wb-info-notification,
.wb-error-notification,
.wb-success-notification,
.wb-warning-notification {
  padding-left: 75px;
}
.wb-info-notification .wb-icon{ color: #50bfff;}
.wb-error-notification .wb-icon{ color: #ff4949;}
.wb-success-notification .wb-icon{ color: #13ce66!important;}
.wb-warning-notification .wb-icon{ color: #f7ba2a;}

.wb-notification-block p,
.wb-notification-block .icon-close {
  color: #8391a5;
}
.wb-notification-block h2 {
  margin: 0;
  font-size: 18px;
  color: #1f2d3d;
  font-weight: 400;
  padding-right: 12px;
  word-break: break-all;
}
.wb-notification-block .icon-close {
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
}
/* 其他文件中存在此动画hide */
.wb-notification-hide { animation: test-hide .2s; transform: translate(0, 0);}
.wb-notification-show { animation: wb-notification-show 2s;}
@keyframes wb-notification-show {
  from { transform: translate(-100%, 0);}
  to { transform: translate(0, 0);}
}
@keyframes test-hide {
  from { 
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.wb-notification-container {
  top: 10px;
  right: 16px;
  z-index: 999;
  transition: top .3s;
  position: fixed;
  animation: wb-notification-center-show .4s;
}

@keyframes wb-notification-center-show {
  from { right: -200%; }
  to { right: 16px; }
}